@model IEnumerable<zadanie4.Models.Album>
@{
    ViewData["Title"] = "Список";
    
}
<!DOCTYPE html>

<html>
<head>
    <title>Магазин музыки</title>
</head>
<body>
    <table>
        
            <tr>
                <td><a href ="~/Singer/Singer">Singers</a></td>
                <td><a href="~/Album/Album">Albums</a></td>
            </tr>
        
    </table>
</body>
</html>