@model IEnumerable<zadanie4.Models.Singer>
@{
    //ViewData["Title"] = "Список смартфонов";
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <title>Певцы</title>
</head>
<body>
    <h3>певцы</h3>
    <table>
        <tr>
            <td>имя</td>
            <td></td>
        </tr>
        @foreach (var singer in Model)
        {
    <tr>
        <td>@singer.Firstname</td>
      
        <td><a></a>Детали</td>
        <td><a></a>Редактировать</td>
        <td><a></a>Удалить</td>
    </tr>
    <tr>
        <td><a href="~/Singer/Add">добавить</a></td>
    </tr>
        }
    </table>
</body>
</html>